<div class="container">
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>Numero meme</th>
          <th>Nome meme</th>
          <th>Immagine meme</th>
          <th>Descrizione meme</th>
        </tr>
      </thead>
      <tbody >
        <tr style="border: 1px solid black;">
          <td>1</td>
          <td>{{nome1}}</td>
          <td><img style="width: 50%; padding-left: 25%;;" src="../../assets/Screenshot 2024-01-29 alle 08.28.51.png" alt=""></td>
          <td>{{Descrizione1}}</td>
          <td><like></like></td>
        </tr>
        <tr style="border: 1px solid black;">
          <td>2</td>
          <td>{{nome2}}</td>
          <td><img style="width: 50%; padding-left: 25%;" src="../../..//assets/burning-paper.jpg-2.jpeg" alt=""></td>
          <td>{{Descrizione2}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>